.recipeList {
  list-style-type: none;
}

.recipeListItem {
  display: flex;
  justify-content: start;
  padding: 0.1%;
  border-bottom: 1px solid lightgray;
}

.recipeListImage {
  flex-grow: 4;
  flex-basis: 75px;
  padding: 5px;
  display: flex;
  align-items: center;
}



.recipeListDescription {
  flex-grow: 6;
  flex-basis: 100px;
  padding: 5px;
  font-size: 60%;
}
